dist: xenial
sudo: false
language: ruby
cache: bundler
rvm:
  - ruby-head
  - 2.6.0
  - 2.5.3
  - 2.4.5
  - 2.3.8
matrix:
  fast_finish: true
  allow_failures:
    - rvm: ruby-head

before_install:
  - gem install bundler -v "~> 2.0"
